.navbar {
  background-color: black;
  flex-basis: 15%;
  display: block;
  border: 1px solid #b0bec5;
border-right:none
  height: 100%;
}

.title {
  border-bottom: 1px solid #b0bec5;
  padding: 5px 10px;
  font-size: 1.5rem;
}
