@value formBackColor,navbarBackgroundColor,muziBackgroundColor from '../common/color.css';

/* 
  배경색 : 
  from배경색 : 546e7a
  선색 : #ffffff
*/
.borad {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.center {
  height: 95%;
  display: flex;
}

/* 
  form
*/

.form_board {
  background-color: muziBackgroundColor;
  width: 60%;
  border: 1px solid #ffffff;
  border-radius: 20px;
  text-align: center;
}

.auth_form {
  display: flex;
  flex-direction: column;
  padding: 10em;
}
