.form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.text {
  width: 100%;
  resize: none;
  outline: none;
  border: none;
}

.bottom {
}

button {
  position: absolute;
  right: 10px;
}
