.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem;
  padding-bottom: 1rem;
}

.text {
  width: 100%;
  resize: none;
  outline: none;
  border: none;
  height: 100px;
}

.bottom:after {
  content: '@';
  display: block;
  background-color: yellow;
  opacity: 0;
}

.bottom {
  position: relative;
}

button {
  position: absolute;
  right: 0px;
  top: 0;
}
