.header {
  padding: 0.5rem;
  height: 5%;
  background-color: #37474f;
  border: 1px solid #ffffff;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.3em;
}
