.container {
  background-color: red;
  flex-basis: 35%;
  border: 2px solid green;
  display: flex;
  flex-direction: column;
}

.comments {
  overflow: scroll;
  overflow-x: hidden;
}

.comments::-webkit-scrollbar {
  width: 10px;
}

.comments::-webkit-scrollbar-thumb {
  background-color: #cfd8dc;
  border-radius: 10px;
}

.header {
  border-bottom: 1px solid #ffffff;
  padding: 5px 10px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeButton {
  cursor: pointer;
  display: flex;
}
