@value muziBackgroundColor, muziBorderColor, muziFontColor from '../../common/color.css';

.container {
  background-color: muziBackgroundColor;
  border-right: 1px solid muziBorderColor;
  border-bottom: 1px solid muziBorderColor;
  display: flex;
  flex-direction: column;
}

.selected {
  flex-basis: 35%;
  display: flex;
}

.unselected {
  display: none;
}

.comments {
  overflow: scroll;
  overflow-x: hidden;
}

.comments::-webkit-scrollbar {
  width: 10px;
}

.comments::-webkit-scrollbar-thumb {
  background-color: #cfd8dc;
  border-radius: 10px;
}

.header {
  border-bottom: 1px solid muziBorderColor;
  padding: 5px 10px;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: muziFontColor;
}

.comments {
  overflow: auto;
}

.closeButton {
  cursor: pointer;
  display: flex;
}

.closeButton i {
  align-items: center;
}
