.allContainer {
  flex-basis: 50%;
  height: 100%;
  background-color: pink;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
}

.container {
  overflow: scroll;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  opacity: 1;
}

.container::-webkit-scrollbar-thumb {
  background-color: #cfd8dc;
  border-radius: 10px;
}

.title {
  border-bottom: 1px solid #ffffff;
  padding: 5px 10px;
  font-size: 1.5rem;
}
