.allContainer {
  flex-basis: 50%;
  height: 100%;
  background-color: pink;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
}

.container {
  overflow: scroll;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #2f3542;
  border-radius: 10px;
}
