@value muziBackgroundColor, muziBorderColor, muziFontColor from '../../common/color.css';
.allContainer {
  height: 100%;
  background-color: muziBackgroundColor;
  border: 1px solid muziBorderColor;
  display: flex;
  flex-direction: column;
}

.selectedMuzi {
  flex-basis: 85%;
}

.unSelectedMuzi {
  flex-basis: 50%;
}

.container {
  overflow: scroll;
  overflow-x: hidden;
}

.container::-webkit-scrollbar {
  width: 10px;
}

.container::-webkit-scrollbar-track {
  opacity: 0;
}

.container::-webkit-scrollbar-thumb {
  background-color: muziBackgroundColor;
  border-radius: 10px;
}

.title {
  border-bottom: 1px solid muziBorderColor;
  padding: 5px 10px;
  font-size: 1.5rem;
}
